<div class="text-center">
  <h3>Create Your Form</h3>
  <h4 ng-hide="show">add a job
    <span class="displayInline">
      <button ng-click="show=true">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </span>
  </h4>
    <form ng-submit="addJob()" ng-show="show">
      <input ng-model="newJob.name" placeholder="Job Name" required></input>
      <input ng-model="newJob.description" placeholder="Job Description" required></input>
      <input ng-model="newJob.numberNeeded" placeholder="How many people maximum?" required></input>
      <input type="submit" value="Add Job Info" ng-click="show=fale"></input>
    </form>

</div>
