<div class="text-center">

  <div ng-repeat="job in jobs">
    <job-info></job-info>
    <button ng-hide="show" ng-click="show=true">Signup</button>
    <div ng-show="show">
      <form ng-submit="addVolunteer(job.name)">
        <input ng-model="newVolunteer.name" placeholder="Name">
        <input ng-model="newVolunteer.email" placeholder="Email">
        <button type="submit"  ng-click="show=false">Volunteer</button>
      </form>
    </div>
  </div>

  <h3>Volunteer List</h3>
  <p ng-show="volunteers.length===0">No Volunteers</p>
  <div ng-repeat="volunteer in volunteers">
    <div class="text-center">
      <p>
      <strong>{{volunteer.name}}--{{volunteer.email}}</strong>
      Volunteered for <strong>{{volunteer.job}}</strong>
      </p>
    </div>
  </div>
</div>
